# React Native & Node Dependencies
node_modules/
.expo/

# iOS & Android Build Output
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/app/libs/

# Logs & Cache
npm-debug.log*
yarn-debug.log*

# Environment Config
.env
*.env.local
